@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(241, 241, 241, 0.938);
}

.borderBlack {
  @apply border border-black/10;
}

h2 {
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5); /* Adjust the values as needed */
}




.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out, transform 0.3s ease;
}

.glass-effect:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(255, 255, 255, 0.25) 100%
  );
  transform: scale(1.05);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

